* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}


.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 150px;
}

.sign-in {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}


.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}


.email-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-box input {
    padding: 15px;
    width: 300px;
    font-size: 16px;
    border: none;
    outline: none;
}

.email-box button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}
