 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
header{
         background-color: skyblue;
         padding: 15px 40px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         color: white;
         font-size: 21px;
         font-family: Arial, Helvetica, sans-serif;
   }
    button{
        background: rgb(95, 95, 234);
         padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
    }
    button:hover {
    background-color: darkblue;
    color: white;
}
 .mid{
    background-color:whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 40px;
   
   }
   .hero {
            background: linear-gradient(rgba(30,58,138,0.8), rgba(30,58,138,0.8)),
                        url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f") center/cover;
            color: #fff;
            text-align: center;
            padding: 100px 20px;
        }

        .hero h2 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        .hero p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .hero button {
            padding: 12px 25px;
            font-size: 16px;
            background: #facc15;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        /* Section */
        section {
            padding: 60px 50px;
        }

        .section-title {
            text-align: center;
            margin-bottom: 40px;
        }

        .section-title h2 {
            font-size: 30px;
            color: #1e3a8a;
        }
footer{
    background-color: #1e3a8a;
    height: 300px;
    
    color: aliceblue;
}        
a{
    text-decoration: none;
}
.math{
    height: 100px;
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
     border-left: 5px solid #1e3a8a;
}
#orcs{
    color: #1e3a8a;
    text-align: center;
    margin: 50px 50px;
}
#subject{
    color: #1e3a8a;
   text-align: center;
   padding: 10px;
}
#def{
    text-align: center;
}
.fact{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
     border-left: 5px solid #1e3a8a;
    display: flex;
    flex-direction: column;

    
}

.rev{
     height: 100px;
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
     border-left: 5px solid #1e3a8a;
     transition: all 0.2s ease-in;
     
}
#star{
    text-align: center;
}
.rev:hover{
    transform: scale(1.2)
    
}
.fact:hover{
    transform: scale(1.2)
    
}
.math:hover{
    transform: scale(1.2)
    
}
.sbs{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 50px; 
      align-items: center;
      margin-left: 90px;
}
.fcs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
     align-items: center;
     margin-left: 90px;
}
