*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Use viewport units for full screen coverage */
    min-height: 100vh; 
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    height: 730px;
    width: 1600px; 
    max-width: 100vw; 
    background-image: url("https://th.bing.com/th/id/R.92242cfe2a9732aa940e45753c2e9736?rik=MTWbJFvr0qnLiQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f7%2fd%2fd%2f7456.jpg&ehk=WegTLEflW5OJ2mvMftxYZdNXVGI%2fABLVp3xqJJ6DFkY%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap-reverse;
}
#box{
    height: 200px;
    width: 550px;
    margin-left: 20px;
    margin-bottom: 300px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 3px 0px 15px white;
}
p{
    align-content: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 600;
    color: white;
    text-shadow: 3px 0px 15px white;
    
}

